<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pirate List</title>
    <style>
        body {
            font-family: "Avenir", sans-serif;
        }
        table{
            width: 500px;
        }
        th,td {
            padding : 10px;
        }
        thead {
            background: lightblue;
        }
    </style>
</head>
<body>
    <h1>Pirate List</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor dolorem, est quod eius similique laudantium quaerat aspernatur maxime ipsum quia, quasi sunt facere. Similique, commodi. Quod delectus quae mollitia harum.</p>
    
    <a href="/">Home</a>
    <a href="/pirates">Pirates</a>
    <a href="/pirates/add">Add Pirate</a>
    
    <h2>Ini add Pirate page</h2>
    <form action="/pirates/add" method="post">
        <input type="text" name="name" id="name" placeholder="Name">
        <select name="status" id="status">
            <option value="Caravel">Awakening</option>
            <option value="Galleon">Standard</option>
        </select>
        <input type="text" name="haki" id="haki" placeholder="Haki">
        <input type="submit" value="Submit">
    </form>
</body>
</html>
