<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ship List</title>
    <style>
        body {
            font-family: "Avenir", sans-serif;
        }
        table{
            width: 500px;
        }
        th,td {
            padding : 10px;
        }
        thead {
            background: lightblue;
        }
    </style>
</head>
<body>
    <h1>Ship List</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In vel eius excepturi corrupti accusamus, quis, neque doloribus necessitatibus, repudiandae dignissimos vero? Amet sit quod, placeat delectus quae totam corporis voluptas.</p>
    
    <a href="/">Home</a>
    <a href="/ships">Ships</a>
    <a href="/ships/add">Add Ship</a>
    
    <h2>Ini add Ships page</h2>
    <form action="/ships/add" method="post">
        <input type="text" name="name" id="name" placeholder="Name">
        <select name="type" id="type">
            <option value="Caravel">Carravel</option>
            <option value="Galleon">Galleon</option>
        </select>
        <input type="text" name="power" id="power" placeholder="Power">
        <input type="submit" value="Submit">
    </form>
</body>
</html>
