<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College List</title>
    <style>
        body {
            font-family: "Avenir", sans-serif;
        }
        table{
            width: 500px;
        }
        th,td {
            padding : 10px;
        }
        thead {
            background: lightblue;
        }
    </style>
</head>
<body>
    <h1>Ship List</h1>
    <h2>Ini home page</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam qui porro blanditiis, corporis assumenda sapiente nesciunt consequuntur et laboriosam natus, quod minus dicta iusto laudantium nihil quam nulla, nam velit.</p>    
    <a href="/">Home</a>
    <a href="/ships">Ships</a>
    <a href="/ships/add">Add Ship</a>
    <a href="/pirates">Pirates</a>
    <a href="/pirates/add">Add Pirates</a>                
</body>
</html>
