<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pirate List</title>
    <style>
        body {
            font-family: "Avenir", sans-serif;
        }
        table{
            width: 500px;
        }
        th,td {
            padding : 10px;
        }
        thead {
            background: lightblue;
        }
    </style>
</head>
<body>
    <h1>Pirate List</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur doloribus provident at aperiam harum fugit quam autem fugiat itaque. Perspiciatis, quod ab quisquam dolorem delectus aperiam vitae debitis sunt molestias?</p>
    
    <a href="/">Home</a>
    <a href="/Pirates">Pirate</a>
    <a href="/Pirates/add">Add Pirate</a>
    
    <h2>Ini Pirate page</h2>
    <!-- <%= students %> -->
    <table border="1" cellspacing="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Status</th>
                <th>Haki</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% Pirates.forEach(Pirate => { %>
                <tr>
                    <td><%= Pirate.id %></td>
                    <td><%= Pirate.name %></td>
                    <td><%= Pirate.status %></td>
                    <td><%= Pirate.haki %></td>
                    <td><a href="Pirates/delete/ <%= Pirate.id %>">Delete</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
