<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ship List</title>
    <style>
        body {
            font-family: "Avenir", sans-serif;
        }
        table{
            width: 500px;
        }
        th,td {
            padding : 10px;
        }
        thead {
            background: lightblue;
        }
    </style>
</head>
<body>
    <h1>Ship List</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur doloribus provident at aperiam harum fugit quam autem fugiat itaque. Perspiciatis, quod ab quisquam dolorem delectus aperiam vitae debitis sunt molestias?</p>
    
    <a href="/">Home</a>
    <a href="/ships">Ship</a>
    <a href="/ships/add">Add Ship</a>
    
    <h2>Ini ship page</h2>
    <!-- <%= students %> -->
    <table border="1" cellspacing="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>Power</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% ships.forEach(ship => { %>
                <tr>
                    <td><%= ship.id %></td>
                    <td><%= ship.name %></td>
                    <td><%= ship.type %></td>
                    <td><%= ship.power %></td>
                    <td><a href="ships/delete/ <%= ship.id %>">Delete</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
